@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d2f0e4;
  background-image: linear-gradient(
    to bottom right,
    #cdffeb33,
    #aadef346
  );
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: #45ceb0;
  font-weight: 800;
  font-size: 34px;
}

.container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 12px 20px 20px rgba(15, 49, 51, 0.3);
  width: 400px;
}

.container2 {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 12px 20px 20px rgba(15, 49, 51, 0.3);
  height: 400px;
  width: 400px;
  display: none;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 5px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: rgb(94, 94, 94);
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.inputbackground {
  display: flex;
  background-color: #e7f3f3;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  align-items: center;
  height: 50px;
  padding-left: 8px;
  padding-right: 16px;
}

#icon {
  stroke: #9aaca8;
}

#password_revail {
  fill: #7d8f8b;
  cursor: pointer;
}

#password_revail:hover {
  fill: rgb(149, 165, 197);
}

#password_revail2 {
  fill: #7d8f8b;
  cursor: pointer;
}

#password_revail2:hover {
  fill: rgb(149, 165, 197);
}

.form-control input {
  background-color: #e7f3f3;
  border: 2px solid #e7f3f3;
  padding-left: 10px;
  display: block;
  width: 100%;

  font-size: 16px;
}

.form-control input:focus {
  outline: 0;
  color: rgb(80, 80, 80);
}

.form-control.success div {
  border-color: var(--success-color);
}

.form-control.error div {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);

  display: none;
}

.form-control.error small {
  display: block;
}

.form button {
  cursor: pointer;
  background-color: #45ceb0;
  border: 2px solid #45ceb0;
  border-radius: 60px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 18px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  background-color: #62ddc2;
  border: 2px solid #62ddc2;
}

.form button:focus {
  outline: none;
  border: none;
}

#password-strength {
  height: 10px;
  width: 100%;
  background-color: white;
  /* border: 1px solid gray; */
  position: relative;
  display: none;
}

.password-strength.focus {
  visibility: visible;
}

#password-strength-status {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: red;
}
